.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
.idea
build.gradle
gradle.properties
gradlew
gradlew.bat
local.properties
settings.gradle
WoodBuffaloTransitMockup.iml
/gradle
