<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.simba.grtwaterloo"
    android:versionCode="3"
    android:versionName="1.3">

    <!-- ANDROID SDK COMPATIBILITY -->
    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="20" />

    <!-- PERMISSIONS -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="package.name.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <!-- SET OPENGL AS REQUIRED FEATURE -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name="ca.simba.grtwaterloo.activities.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="ca.simba.grtwaterloo.activities.MAIN" />
                <action android:name="ca.simba.grtwaterloo.activities.FAVOURITES" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="ca.simba.grtwaterloo.activities.FavouritesActivity"
            android:label="@string/title_activity_favourites"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="ca.simba.grtwaterloo.activities.FAVOURITES" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="ca.simba.grtwaterloo.activities.NearbyStopsActivity"
            android:label="@string/title_activity_nearby"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="ca.simba.grtwaterloo.activities.NEARBY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="ca.simba.grtwaterloo.activities.TripPlannerActivity"
            android:label="@string/title_activity_trip_planner"
            android:screenOrientation="portrait">
            <intent-filter>wa
                <action android:name="ca.simba.grtwaterloo.activities.PLANNER" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="ca.simba.grtwaterloo.activities.AllRoutesActivity"
            android:label="@string/title_activity_all_routes"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="ca.simba.grtwaterloo.activities.ALL_ROUTES" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="ca.simba.grtwaterloo.activities.SubRouteActivity"
            android:label="@string/title_activity_sub_routes"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="ca.simba.grtwaterloo.activities.SUB_ROUTES" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="ca.simba.grtwaterloo.activities.RouteDetailsActivity"
            android:label="@string/title_activity_route_details"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="ca.simba.grtwaterloo.activities.ROUTE_DETAILS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="ca.simba.grtwaterloo.activities.StopTimesActivity"
            android:label="@string/title_activity_stop_details"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="ca.simba.grtwaterloo.activities.STOP_TIMES" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- USED FOR ACTIVITIES WITH GOOGLE MAPS -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCTkPm2csiXapNpVj1FD5ulaGmv8uGXWBk" />

        <activity
            android:name="ca.simba.grtwaterloo.activities.StopsMapActivity"
            android:label="@string/title_activity_stops_map"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="ca.simba.grtwaterloo.activities.MAP_STOPS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="ca.simba.grtwaterloo.activities.StopInfoActivity"
            android:label="@string/title_activity_stop_info"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="ca.simba.grtwaterloo.activities.STOP_INFO" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>

</manifest>