<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tbrown.com.woodbuffalotransitmockup" >

    <uses-sdk
        android:minSdkVersion ="15"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Activity_Main"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity_RouteDetails"
            android:label="0 Route Details" >
            <intent-filter>
                <action android:name="tbrown.com.woodbuffalotransitmockup.ROUTE_DETAILS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity_StopDetails"
            android:label="Stop Details" >
        <intent-filter>
            <action android:name="tbrown.com.woodbuffalotransitmockup.STOP_DETAILS" />
            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
        </activity>
        <activity
        android:name=".widgets.Activity_StopTimes"
        android:label="Stop Details" >
        <intent-filter>
            <action android:name="tbrown.com.woodbuffalotransitmockup.STOP_TIMES" />
            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
    </activity>
        <activity
            android:name=".widgets.Activity_StopTimes_Alt"
            android:label="Stop Details" >
            <intent-filter>
                <action android:name="tbrown.com.woodbuffalotransitmockup.STOP_TIMES_ALT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>

</manifest>
